<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
      <!--　ここにユーザー情報　-->
      <%= render 'shared/user_info' %>
      </section>
 
	<section class="micropost_form">
	<!--　ここにフォーム　-->
	<%= render 'shared/micropost_form' %>
	</section>
    </aside>
  <div class="col-md-8">
      <h3>Feed</h3>
      <!--　ここにフィード　-->
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the TweetApp</h1>
 
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>